.product__container {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    max-width: 1450px;
    margin: 100px auto !important;
    /* place-items: center; */
    justify-items: center;
}

/* .product__container div{
    margin: 0 auto ;
} */
