.header__container {
    background-color: #1a1a1a;
    background-color: #131921;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 70px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    max-width: 200px;
}

.logo__container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.logo__container img {
    width: 80%;
}
.delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold0;
    height: 50px;
    padding-inline: 5px;
}

.delivery p {
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    width: 60px;
    color: rgb(204, 204, 204);
}

.delivery span {
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

/* .select_menu {
  width: 60px;
  width: auto;
}
optgroup{
    width: 500px;
    background-color: #fff;
} */

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    flex: 0 1 60%;
}

.search select {
    font-weight: bold;
}
.search select,
.search input {
    padding: 10px;
    outline: 1px solid white;
}

.search select {
    border: none;
    background-color: #d4d4d4;
}

.search input {
    border: 1px solid white;
    width: 100%;
    margin-right: -2px;
    outline: none;
    color: gray;
}

.search svg {
    padding: 12px;
    background-color: #febd69;
    color: #1a1a1a !important;
}

.search svg:hover {
    background-color: #d49644;
}

.search:focus-within {
    border: 2px solid rgb(255, 153, 0);
}

.order__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    gap: 10px;
}

.order__container a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.order__container p {
    font-size: 12px;
    font-weight: 450;
    line-height: 8px;
}

.language {
    width: 70px;
    display: flex;
    padding: 10px;
    height: auto;
}

.language select {
    background-color: #1a1a1a;
    border: none;
    color: white;
}

.language img {
    width: 40%;
}

.cart {
    position: relative;
    margin-left: 5px;
    height: 50px;
    bottom: 5px;
    right: 10px;
}

.cart span {
    position: absolute;
    font-weight: bold;
    top: 15px;
    font-size: 20px;
    background-color: #1a1a1a;
    left: 40px;
    color: orange;
    z-index: 100;
}

.order__container span {
    font-size: 14px;
    font-weight: 700;
    line-height: 0;
}

.order__container a:hover,
.delivery:hover,
.logo__container a:hover {
    border: 1px solid white;
    border-radius: 3px;
}

.span {
    font-size: 12px;
    color: gray;
}

.span:hover {
    color: white;
}

@media screen and (max-width: 768px) {
    .header__container {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .lower__conatiner ul li:not(:first-child) {
        display: none;
    }

    .language {
        display: none;
    }
}
